<% include ./_head %>
<% include ./_logo %>

<section class="urls-list">
  <div>
    <h2>All URLs</h2>
    <ul>
      <% for ( url of urlsList.fullList ) { -%>
        <li class="urls-list__url"><a href="<%= url.id %>/editurl">
          <div class="urls-list__long-url"><%= url.longUrl %></div>
          <div class="urls-list__short-url"><%=url.shortUrl %></div>
        </a></li>
      <% } -%>
    </ul>
  </div>
  <% if (urlsList.usrList) { -%>
    <div>
      <h2>Personal URLs</h2>
      <ul>
        <% for ( url of urlsList.usrList ) { -%>
          <li class="urls-list__url"><a href="<%= url.id %>/editurl">
            <div class="urls-list__long-url"><%= url.longUrl %></div>
            <div class="urls-list__short-url"><%=url.shortUrl %></div>
          </a></li>
        <% } -%>
      </ul>
    </div>
  <% } -%>
</section>
<% if (locals.usr) { -%>
  <section> <%include ./_create-url%> </section>
<% } -%>

<% include ./_login %>
<%include ./_footer%>

